body {
    background-color: #5d5b5b;
    color: white;
    font-family: Arial, sans-serif;
}

#btn {
    display: block;
    background: #2b9030;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 15px 30px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background: #4caf50;
}
#joke-container {
    background: #1f1f1f;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.category {
    color: whitesmoke;
    text-transform: ;
}
.type {
    margin: 10px;
    color: gray;
    text-transform: capitalize;
}

.setup,
.delivery {
    background-color: #348ab988;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2rem;
    letter-spacing: 2px;
}

.lang,
.safe {
    margin: 10px;
    text-transform: capitalize;
}

.flags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
}

.flags li {
    background: #333;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.flags li:hover {
    background: #444;
}

.flags li.true::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 10px;
}
.flags li.false::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    margin-right: 10px;
}

.lang {
    font-style: italic;
    color: #aaa;
}
.safe {
}
